* {
    padding: 0;
    margin: 0;
    list-style: none;
}

a, a:hover {
    color: #fff;
    text-decoration: none;
}
.h100{
    height: 100%;
}
body {
    min-width: 1280px;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.energy-container {
    width: 1200px;
    margin: 0 auto;

}

.main-bg {
    background: rgba(246, 243, 254, 1);
    background-size: 100% auto;
    min-height: 400px;
}

.logo {
    width: 210px;
    height: 47px;
    padding-top: 28px;
}

.nav-list {
    float: right;
    font-size: 16px;
    color: #fff;
    line-height: 90px;
}

.nav-list a {
    padding: 0 40px;
    position: relative;
}

.nav-list a.active:after {
  content: '';
    position: absolute;
    width: 60px;
    height: 2px;
    background: #28afdf;
    display: block;
    bottom: -10px;
    left: 50%;
    transform: translate(-50%,0);
}

/*主要内容*/
.energy-body {
    color: #474847;
    background: url(../img/ditubj.png) center 300px no-repeat;
    background-size: 100% auto;
}

nav {
    background: url(../img/bannerbj.png) center top;
    height: 100vh;
}

.first-main {
    color: #fff;
    overflow: hidden;
    width: 100%;

}

.first-main .title {
    padding-top: 240px;
    font-size: 50px;
    font-weight: 600;
}

.first-main .sub {
    font-size: 30px;
    margin-top: 50px;
}

.first-main .main-show-img {
    padding-top: 50px;
    width: 660px;
}

/*核心业务*/
#core-business {

}
.title{
    font-size: 40px;
}
#core-business .title {
    margin: 50px 0;
    text-align: center;
    font-weight: normal;
    padding: 50px 0;
    background: url(../img/business.png) center center no-repeat;
    background-size: contain;
    color:rgba(18, 127, 209, 1);

}

.core-business-list {
    overflow: hidden;
}

.core-business-item {
    float: left;
    width: 33.3%;
    text-align: center;
}

.core-business-item img {
    vertical-align: middle;
}

.core-business-item div {
    display: inline-block;
}

/*落地案例*/

.application {
    overflow: hidden;
    margin: 200px 0 130px;
    text-align: center;
}

.application .title {
    margin-bottom: 30px;

}

.por {
    position: relative;
}

.application-title {
    font-size: 20px;
    margin: 56px auto 38px;
}

.application .sub {
    font-size: 18px;
}

.side-chain {
    background: url(../img/cljsbj.png) center bottom no-repeat;
    background-size: 1920px 614px;
    height: 770px;
    min-width: 1200px;
}

.side-chain .energy-container {
    position: relative;
    height: 100%;
}

.side-chain .title {
    text-align: center;
}

.side-chain .side-chain-item {
    position: absolute;
    background: #fff;
    width: 100px;
    padding: 12px 20px;
    line-height: 24px;
    font-size: 14px;
}

.side-chain .side-chain-item:after, .side-chain .side-chain-item:before {
    content: '';
    position: absolute;
    border: 2px solid #28afdf;
    width: 10px;
    height: 10px;
    font-size: 16px;

}

.side-chain .side-chain-item:before {
    top: 0;
    left: 0;
    border-right: none;
    border-bottom: none;
}

.side-chain .side-chain-item:after {
    bottom: 0;
    right: 0;
    border-left: none;
    border-top: none;
}

.side-chain .side-chain-1 {
    bottom: 556px;
    left: 20%;
    width: 250px;
}

.side-chain .side-chain-2 {
    bottom: 526px;
    left: 61%;
    width: 440px;
}

.side-chain .side-chain-3 {
    bottom: 176px;
    left: 0;
    width: 284px;
}

.side-chain .side-chain-4 {
    bottom: 149px;
    left: 51%;
    width: 330px;
}

.side-chain .side-chain-item h3 {
    text-align: center;
    font-weight: normal;
    margin-bottom: 12px;
    font-size: 16px;
}

.one-num {
    position: absolute;
    width: 121px;
    height: 40px;
    font-size: 28px;
    font-weight: 400;
    color: rgba(255, 255, 255, 1);
    line-height: 40px;
    bottom: 356px;
    left: 41%;
}

/*
合作*/
#cooperation {
    text-align: center;
    overflow: hidden;
    font-size: 0;
    margin-bottom: 80px;
}

#cooperation .title {
    text-align: center;
    color:rgba(18, 127, 209, 1);
    padding: 60px 0;
    background: url(../img/CooperativePartner.png) center center  no-repeat;
    background-size: contain;
}

.cooperation-item {
    width: 16.66%;
    display: inline-block;
    margin-bottom: 20px;
}

/*联系我们*/
#call-us {
    color: #fff;
    font-size: 16px;
    background: linear-gradient(180deg, rgba(18, 127, 209, 1) 0%, rgba(0, 39, 95, 1) 100%);
    padding: 100px 0;
}

.call-us-item {
    margin-bottom: 20px;
}

.call-us-item img {
    vertical-align: middle;
}

.call-us-item .padding-level {
    padding: 0 20px;
}

.call-us-foot {
    margin-top: 60px;
    text-align: center;
}

/*c侧链技术*/
.side-chain-new {

}

.side-chain-new .title {
    padding: 30px 0;
    text-align: center;
}

.side-chain-new-container {
    width: 980px;
    height: 878px;
    margin: 30px auto 50px;
    position: relative;
}

.side-chain-new-container-h3 {
    position: absolute;
    top: 80px;
    left: 50px;
    width: 326px;
    font-size: 16px;
    font-weight: normal;
}

.side-chain-new-container-description {
    width: 262px;
    font-size: 16px;
    font-weight: 400;
    line-height: 36px;
    position: absolute;
    top: 201px;
    left: 720px;
}

/*表格*/
#grid-list {
    text-align: center;
    font-size: 0;
    margin: 60px 0;
}

#grid-list .title {
    font-size: 32px;
    margin-bottom: 30px;
}

.grid-list-item {
    display: inline-block;
    width: 148px;
    height: 44px;
    line-height: 44px;
    border-radius: 4px;
    color: rgba(71, 72, 71, 1);
    font-size: 18px;
    border: 1px solid rgba(40, 175, 223, 1);
    margin-right: 62px;

}

.grid-list-item:last-child {
    margin-right: 0;
}

.title.color-1 {
    font-size: 30px;
}
